/* Escala de cor cinza
#f8f9fa
#e9ecef
#dee2e6
#ced4da
#adb5bd
#6c757d
#495057
#343a40
#212529
*/

@import url("tips-collection-01.css");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("../fontawesome-free/all.css");

@import url("./main/onboarding-experience.css");

* {
  margin: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin-top: 2rem;
  text-align: center;
}

h2 {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #dee2e6;
}

hr {
  margin: 1.5rem 0;
  border-color: #dee2e6;
}

.container {
  width: 90%;
  max-width: 1256px;
  margin: auto;
}

.box {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 3rem;
    border-top: 1px solid #dee2e6;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    background-color: #f8f9fa;
  }
  
  footer p {
    text-align: center;
  }
  
  footer a {
    color: #adb5bd;
    text-decoration: none;
  }