<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Front-End</title>
    <link rel="stylesheet" href="./src/assets/css/main.css" />
    <script
      src="https://kit.fontawesome.com/07f9fa6e90.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <header></header>
      <main class="container">
        <div class="contents">
          <p>#NeverStopLearning</p>
        </div>
        <h1>Learning Front-End</h1>
        <div class="contents">
          <p>
            Essa homepage faz parte de um projeto, que tem como objetivo manter
            os estudos e referências sobre desenvolvimento front-end, com
            fundamentos em artigos publicados na internet sobre UI e UX Design,
            a mesma conta com um index para toda prática ao longo do tempo,
            assim como, para seu repositório no GitHub.
          </p>
          <div class="btn">
            <a href="./src/components/summary.html"
              ><button>
                <i class="fas fa-list"></i> Index
              </button></a
            >

            <a href="https://github.com/robsonnatanael/learning">
              <button>
                <i class="fab fa-github-square"></i> Repositório
              </button>
            </a>
          </div>
        </div>
      </main>
      <footer>
        <div class="container">
          <ul>
            <li>
              <a href="https://bit.ly/linkedin-rn">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://bit.ly/github-rn">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
          <p>
            <a href="https://www.robsonnatanael.com.br"
              >Desenvolvido por Robson Natanael</a
            >
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
