<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumário - Learning Front-End</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <script
      src="https://kit.fontawesome.com/07f9fa6e90.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <header></header>
      <main class="container summary">
        <div class="contents">
          <p>#NeverStopLearning</p>
          <h1>
            <a href="/"> Learning Front-End </a>
          </h1>
          <h2>UI & UX Design</h2>
          <ol>
            <li>
              <a
                href="../../articles/ui-ux-design/marc-andrew-nov-18-2020/index.html"
                >The UI & UX tips collection - volume one</a
              >
            </li>
          </ol>
        </div>
      </main>
      <footer>
        <div class="container">
          <ul>
            <li>
              <a href="https://bit.ly/linkedin-rn">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://bit.ly/github-rn">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
          <p>
            <a href="https://www.robsonnatanael.com.br"
              >Desenvolvido por Robson Natanael</a
            >
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
