.article-title {
  color: #dee2e6;
}

.element-defined {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 0px 15px #dee2e6;

  /* width | style | color */
  border: 1px solid #dee2e6;

  box-sizing: border-box;
  width: 350px;
  margin: auto;
  box-sizing: border-box;
  text-align: justify;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.element-defined > h3 {
  text-align: center;
  margin: 1.2rem 0 0 0;
}

.element-defined img {
  max-width: 100%;
}

.element-defined p {
  margin: 1.2rem 0 0 0;
  line-height: 1.8rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.letter-spacing {
  font-family: "Hind", sans-serif;
  box-sizing: border-box;
  width: 300px;
  margin: 1rem;
}

.letter-spacing h3 {
  font-weight: 800;
  font-size: 2em;
}

.letter-spacing a {
  font-weight: 800;
  text-decoration: none;
  color: #2a8fea;
}

.spacing h3 {
  letter-spacing: -0.05rem;
}

.material-icons {
  vertical-align: middle;
  color: #2a8fea;
}

.material-icons-outlined {
  vertical-align: middle;
  color: #2a8fea;
}

.later {
  color: #60d394;
}

.before {
  color: #ee6055;
}

.icon-consistency {
  margin: 2rem;
  box-sizing: border-box;
  max-width: 500px;
  display: flex;
}

.icon-consistency p {
  margin: 0.8rem 0;
}

.icon-consistency img {
  max-width: 45%;
  margin: 0.5rem;
}

.icons-consistency-bar {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dee2e6;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.icons-consistency-bar span {
  cursor: pointer;
}

.box-consistency {
  margin: 1rem;
}

.typeface {
  max-width: 550px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 15px #dee2e6;
  border: 1px solid #dee2e6;
}

.typeface img {
  max-width: 550px;
}

/* font-weight
      https://developer.mozilla.org/pt-BR/docs/Web/CSS/font-weight
*/

/*  */
.typeface img + p {
  font-weight: 600;
  font-size: 1.2rem;
  color: #2a8fea;
  margin: 1.5rem;
}

.typeface p + p {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.5rem;
}

.typeface > p:last-child {
  font-weight: normal;
  margin: 1.5rem;
}

.whitespace {
  max-width: 350px;
  box-sizing: border-box;
  padding: 1.5rem;
  text-align: center;
  margin: 1.5rem;
}

.whitespace .p-icon {
  text-align: left;
  margin-top: 0;
}

.whitespace .avatar {
  max-width: 80px;
}

.whitespace ul {
  list-style: none;
  padding: 0;
}

.whitespace ul li {
  display: inline;
  font-size: 1.5rem;
  color: #2a8fea;
}

.whitespace img + p {
  color: #2a8fea;
  font-weight: 500;
}

.whitespace h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

.whitespace-later p,
.whitespace-later h3 {
  margin-top: 0.5rem;
}

.whitespace-later ul {
  margin-top: 1.5rem;
}

.whitespace-later ul li {
  padding: 1rem;
}

.whitespace a {
  color: #2a8fea;
}

.long-form {
  font-family: "Hind", sans-serif;
  max-width: 650px;
  font-size: 20pt;
}

.long-form h3 {
  font-weight: 800;
  font-size: 2em;
}

.long-form p {
  font-size: 20pt;
  margin: 30px 0;
}

.content-scale {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-scale .type {
  flex: 1;
  text-align: right;
}

.content-scale .scale {
  min-width: 125px;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  margin: 0.5rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  background-color: #2a8fea;
}

.uniformity {
  width: 350px;
  box-sizing: border-box;
  padding: 0.5rem;
}

.uniformity ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.uniformity ul li {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-nav {
  flex: 1;
  padding: 1rem;
  border-bottom: 3px solid #dee2e6;
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
}

.btn-nav .active {
  border-bottom: 3px solid #2a8fea;
}

.btn-active {
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
}

.header-thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-thumb .comment {
  text-align: right;
}

.header-thumb img {
  max-width: 55px;
}

.header-thumb-text {
  text-align: left;
  margin-left: 1rem;
  flex: 1;
}

.uniformity .material-icons-outlined {
  color: #555555;
}

.header-thumb-text p:first-child {
  font-weight: 600;
  font-size: 1.2rem;
}

.header-thumb-text p:last-child {
  font-size: 0.8rem;
}

/* technique for cropping image
--------------------------------------------------*/
.thumb {
  position: relative;
  max-width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
  flex: 1;
}

.thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

.thumb img.portrait {
  width: 100%;
  height: auto;
}
/*------------------------------------------------*/

.photo-thumb {
  position: relative;
  max-width: 350px;
  height: auto;
  margin: 1rem 0;
}

.photo {
  position: relative;
  top: 0;
  left: 0;
}

.visiblity {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.visiblity p {
  text-align: center;
  margin-top: 30%;
}

.visiblity .material-icons-outlined {
  color: rgb(254, 254, 254);
}

.photo img {
  width: 100%;
  border-radius: 1rem;
}

.content-thumb {
  /* topo | direita | inferior | esquerda */
  margin: 0 0 2rem 0;
}

.content-thumb p {
  /* topo | horizontal | inferior */
  margin: 0 0 1rem;
}

.content-thumb a {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

.base-colour {
  color: #2a8fea;
}

/* Seletores
      https://code.tutsplus.com/pt/tutorials/the-30-css-selectors-you-must-memorize--net-16048
*/
